.footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: rgb(221, 193, 67);
}

.ghLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.ghImg {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    transition: 0.4s ease-in-out;
}

.ghImg:hover {
    transform: rotate(360deg);
    background-color: rgb(223, 150, 14);
}

.footTxt {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}
